<strong>Olá, {{ deliveryman }}!</strong>
<p>Temos uma nova encomenda pronta para a retirada.</p>
<p>Segue abaixo os dados da encomenda:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ state }}, {{ city }}, {{ street }}, Nº{{ number }}, {{ zipcode }} <br />
  <strong>Complemento: </strong> {{ complement }}
  <br />
  <br />
  <small>Você só poderá retirar a encomenda das 8:00 até as 18:00</small>
</p>
